<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Citizen Retail Connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-card-title class="ion-text-center" color="success">Order placed Succesfully!!!</ion-card-title>
  <br><br>
  <!-- <ion-label color="primary" class="ion-text-center" routerLink="/customer-activity">
  <a>Check Order Details</a></ion-label> -->
  <div margin-vertical class="center">
    <ion-button size="default" color="primary" fill="clear" [routerLink]="['/', 'order-details/123456']" class="ion-text-center">
      <ion-label color="primary">Check Order Details</ion-label>
    </ion-button>
  </div>


</ion-content>